@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  list-style: none;
  font-family: "楷体";
  box-sizing: border-box;
}

.clear {
  clear: both;
}

html, body, .web {
  width: 100%;
  height: 100%;
}

.swiper-container {
  width: 100%;
  height: 100%;
}

.music {
  position: fixed;
  right: 1rem;
  top: 1.8rem;
  width: 1.2rem;
  height: 1.2rem;
  z-index: 999;
  border-radius: 100%;
}

.music img {
  width: 100%;
  height: 100%;
}
.page{
  width: 100%;
  height: 100%;
  text-align: center;
  font-size: 1rem;
  position: relative;
}
.pagef{
  width: 100%;
  height: 100%;
  font-size: 1rem;
  position: relative;
}
.page1{
	background: url(../img/1.jpg) no-repeat center center;
	background-size: 100%;
}
.page1 p{
	color:white;
	font-size: 1rem;
	width: 100%;
	position: absolute;
	height: 5rem;
	text-align: center;
	padding-top: 4rem;
}
.page2{
	background: url(../img/2.jpg) no-repeat center center;
	background-size: 100% 100%;
}
.page2-box{
	width: 100%;
	height: 100%;
	padding: 3.6rem 0.7rem 4.2rem;
}
.page2 p{
	height: calc((100% - 4rem) / 9);
	font-size: 1rem;
	color:white;
}
.page2 p:first-child{
	height: 4rem;
	line-height: 4rem;
	font-size: 1rem;
	color:white;
}
.page3{
	background: url(../img/3.jpg) no-repeat center center;
	background-size: 100% 100%;
}
.page3-box{
	width: 100%;
	height: 100%;
	padding: 3.4rem 1.4rem 11rem 1rem;
}
.page3 p{
	display: flex;
	display: -webkit-flex;
	justify-content: center;
	align-items: center;
	height: calc(100% / 7);
	font-size: 1rem;
	color:white;
}
.page4{
	background: url(../img/4.jpg) no-repeat center center;
	background-size: 100% 100%;
}
.page4-box{
	width: 100%;
	height: 100%;
	overflow: hidden;
	padding: 2.6rem 1rem 5.6rem 1rem;
}
.page4 p{
	display: flex;
	display: -webkit-flex;
	align-items: center;
	height: calc((100% - 13.2rem) / 5);
	height: -webkit-calc((100% - 13.2rem) / 5);
  font-size: 0.9rem;
	color: white;
	margin: 0 auto;
	text-align: left;
}
.page4 p:first-child{
	font-size: 0.9rem;
	color:white;
}
.page4 .page4-box div{
	height: 9.2rem;
	border-radius: 6px;
}

.page4 div video{
	width: 100%;
}
.page4 p:last-child{
	height: 4rem;
	line-height: 4rem;
	font-size: 1.4rem;
	justify-content: center;
}
.page5{
	height: 4rem;
	line-height: 4rem;
	background: url(../img/5.jpg) no-repeat center center;
	background-size: 100% 100%;
}
.page5-box{
	width: 100%;
	height: 100%;
	overflow: hidden;
	padding: 2.6rem 1rem 5.6rem 1rem;
}
.page5 p{
	display: flex;
	display: -webkit-flex;
	align-items: center;
	justify-content: center;
	height: calc((100% - 10rem) / 5);
	height: -webkit-calc((100% - 10rem) / 5);
	font-size: 1.2rem;
	color:white;
}
.page5 #div{
	height: 9.2rem;
	margin: 0.4rem 0;
	border-radius: 6px;
	background: url(../img/pic.png);
	background-size: 100% 100%;
}
.page6{
	background: url(../img/6.jpg) no-repeat center center;
	background-size: 100% 100%;
}
.page6-box{
	width: 100%;
	height: 100%;
	overflow: hidden;
	padding: 3rem 1rem 5.2rem 1rem;
}
.page6 p{
	display: flex;
	display: -webkit-flex;
	align-items: center;
	justify-content: center;
	height: calc(100% / 9);
	height: -webkit-calc(100% / 9);
  font-size: 1rem;
	color: white;
  text-align: left;
}
.page6 p:first-child{
	font-size: 1rem;
	color:white;
}
.page7{
	background: url(../img/7.jpg) no-repeat center center;
	background-size: 100% 100%;
}
.page7-box-1{
	width: 100%;
	height: 7.4rem;
	padding-top: 2rem;
	color: #fff;
}
.page7-box-1>p{
	height: 2.5rem;
	line-height: 2.5rem;
}
.page7-box-1>div{
	height: 2rem;
	line-height: 2rem;
	text-align: right;
	padding-right: 1rem;
}
.page7-box-2{
	width: 100%;
	height: calc(100% - 7.4rem);
	height: -webkit-calc(100% - 7.4rem);
	padding: 0 2rem 11.2rem;
}
.page7 #div1{
	color:white;
	font-size: 1rem;
	width: 100%;
	padding-left: 2.6rem;
}
.page7 .pn img{
	width: 0.3rem;
	margin-right: 0.5rem;
}
.page7 .pn{
	display: flex;
	display: -webkit-flex;
	align-items: center;
	height: calc(100% / 5);
	height: -webkit-calc(100% / 5);
	font-size: 1rem;
	color: white;
	text-align: left;
}

.page8{
	background: url(../img/8.jpg) no-repeat center center;
	background-size: 100% 100%;
}
.page8-box-2{
	padding: 0 1rem 11.2rem;
}
.page8 .page1-bottom{
	color:white;
	font-size: 1rem;
	width: 100%;
	padding-left: 2.6rem;
}
.page8 .pn{
	display: flex;
	display: -webkit-flex;
	align-items: center;
	height: calc(100% / 6);
	height: -webkit-calc(100% / 6);
	font-size: 1rem;
	color: white;
	text-align: left;
}
.page8 .pn img{
	width: 0.3rem;
	margin-right: 0.5rem;
}

.page10-box-2{
	  width: 100%;
    height: 100%;
    padding: 4.3rem 01rem 13.3rem;
}
.page10-box-2>p{
	height:20%;
	display: flex;
	display: -webkit-flex;
	align-items: center;
	-webkit-align-items: center;
}
.page10{
	background: url(../img/10.jpg) no-repeat center center;
	background-size: 100% 100%;
}
.page10{
	text-align: left;
}
.page10 p{
	color: white;
	font-size: 1rem;
	text-align: left;
	margin-left: 2rem;
}

.page11{
	background: url(../img/11.jpg) no-repeat center center;
	background-size: 100% 100%;
}
.page11-box-2{
	  width: 100%;
    height: 100%;
    padding: 3.5rem 1.1rem 11.5rem;
}
.page11 p{
	color: white;
	height: calc(100% / 7);
	height: -webkit-calc(100% / 7);
	display: flex;
	display: -webkit-flex;
	align-items: center;
	-webkit-align-items: center;
	justify-content: center;
	-webkit-justify-content: center;
	font-size: 1rem;
}
.page12{
	background: url(../img/12.jpg) no-repeat center center;
	background-size: 100% 100%;
}
.page12 .fn img{
	margin-right: 0.5rem;
}
.page12 .one{
	color: white;
	font-size: 1.2rem;
	height: 5.5rem;
	padding-top: 2.7rem;
}
.page12-box-2{
	height: calc(100% - 5.5rem);
	height: -webkit-calc(100% - 5.5rem);
	padding: 0rem 0.8rem 5.7rem;
}
.page12-box-2>p{
	height: calc(100% / 5);
	height: -webkit-calc(100% / 5);
	display: flex;
	display: -webkit-flex;
	align-items: center;
	-webkit-align-items: center;
}
.page12 div{
	 
    color: white;
   
    font-size: 1.2rem;
}
.page12 div p{
	margin-left: 0.5rem;
}
.page13{
	background: url(../img/13.jpg) no-repeat center center;
	background-size: 100% 100%;
}
.page13 .one{
	  color: white;
    font-size: 1.2rem;
    height: 4rem;
    padding-top: 2.2rem;
}
.page13 input{
	  background: none;
    width: 90%;
    border: 1px solid #fff;
    font-size: 1rem;
    height: 2rem;
    padding-left: 0.5rem;
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
    outline: none;
    color: white;
    margin: 0.3rem 0;
    border-radius: 3px;
}
.page13 button{
	  padding: 0.6rem 2rem;
    font-size: 1rem;
    background-color: #fff;
    border: none;
    border-radius: 2px;
}
.page13 .two2{
    margin: 0 auto;
    height: 13rem;
}
.page13 .tree{
	height: calc(100% - 17rem);
	height: -webkit-calc(100% - 17rem);
}
.page13 .tree img{
	width: 50%;
	padding-top: 1.5rem;
}
.page1-bottom{
  position: absolute !important;
  left: 45% !important;
  background-color: none !important;
  bottom: 1rem !important;
  width: 2rem !important;
  height: 2rem !important;
  animation-iteration-count:infinite;
  -webkit-animation-iteration-count:infinite;
  -ms-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
 }
.page1-bottom img{
  width: 100%;
  height: 100%;
 }
 .line{
 	  margin: 0 auto;
    width: 92%;
    margin-top: 7rem;
 }
	.line1 img{
		width: 100%;
	}
	.line1{
		margin: 0 auto;
	    width: 92%;
	    margin-top: 7rem;
	}
	.res{
		font-size:1rem;
		color: red;
		margin-top: 0.5rem;
		height: 1rem;
	}
.example_video_1-dimensions{
	width: 100%;
}
